.addrButton {
	font-family: Segoe UI;
	font-size: 13px;
}

.default {
	font-family: Segoe UI;
	font-size: 14px;
}

.font12 {
	font-family: Segoe UI;
	font-size: 12px;
}

.font18 {
	font-family: Segoe UI;
	font-size: 18px;
}

